<a class="row-element" style="width: {{targetWidth}}px; height: {{targetHeight}}px;" data-width="{{targetWidth}}" data-height="{{targetHeight}}" href="{{targetPath}}" data-dir="{{dir}}" data-path="{{path}}" data-permissions="{{permissions}}" data-freespace="{{freeSpace}}">
	<div class="album-loader loading"></div>
	<span class="album-label">
		<span class="title">{{label}}</span>
	</span>
	<div class="album container" style="width: {{targetWidth}}px; height: {{targetHeight}}px;" >
	</div>
</a>
